@page "/"

@using BlazorMonaco

<style>
  .monaco-editor-container 
  { 
    min-height: 300px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
  }
</style>

<PageTitle>LiteDB Studio (WebAssembly version)</PageTitle>

<ContextMenu Id="collectionsMenu">
  <Item OnClick="@OnRun">Item 1</Item>
  <Item OnClick="@OnRun">Item 2</Item>
  <Item OnClick="@OnRun">Item 3</Item>
  <Seperator/>
  <Item>
    Submenu
    <SubMenu>
      <Item OnClick="@OnRun">Submenu Item 1</Item>
      <Item OnClick="@OnRun">Submenu Item 2</Item>
    </SubMenu>
  </Item>
</ContextMenu>

<MudPaper Elevation="25">
  <MudToolBar>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.OpenInBrowser" OnClick="@(async () => await OpenAndReadFile())">Open...</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh">Refresh</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.DirectionsRun" OnClick="@OnRun">Run</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Start">Begin</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.SaveAlt">Commit</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Undo">Rollback</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.SafetyCheck">Checkpoint</MudButton>
  </MudToolBar>
</MudPaper>

<div class="form-group-sm">
  <label class="control-label">Info</label>
  <textarea rows="10" value="@_info" class="form-control"></textarea>
</div>

<MudGrid>
  <MudItem xs="2">
    <MudTreeView T="string" Items="_collections" SelectedValueChanged="OnCollectionSelected">
      <MudTreeViewItem T="string" Text="@_fileName">
        @foreach (var coll in _collections)
        {
          <ContextMenuTrigger MenuId="collectionsMenu">
            <MudTreeViewItem T="string" Text="@coll" Value="@coll"/>
          </ContextMenuTrigger>
        }
      </MudTreeViewItem>
    </MudTreeView>
  </MudItem>

  <MudItem xs="10">
    <MudDynamicTabs
      Elevation="4"
      Rounded="true"
      ApplyEffectsToContainer="true"
      PanelClass="px-4 py-6"
      AddTab="AddTabCallback"
      CloseTab="@(panel => CloseTabCallback(panel))"
      AddIconToolTip="Click here to add a new tab"
      CloseIconToolTip="Close this tab. All data will be lost"
      @bind-ActivePanelIndex="_activeTabIndex">
      @foreach (var item in _tabs)
      {
        <MudTabPanel Text="@item.Name" Tag="@item.Id">
          <ChildContent>
            <MudStack>
              <MonacoEditor
                @ref="@item.Query"
                Id="@item.Id.ToString()"
                ConstructionOptions="SQL_EditorOptions"/>
              <MudTabs Elevation="2" Rounded="true">
                <MudTabPanel Text="Grid">
                  <MudTable Items="@item.Results" Breakpoint="Breakpoint.Sm">
                    <HeaderContent>
                      @{
                        var cols = item.Results.FirstOrDefault()?.Keys ?? Enumerable.Empty<string>();
                        foreach (var col in cols)
                        {
                          <MudTh>@col</MudTh>
                        }
                      }
                    </HeaderContent>
                    <RowTemplate>
                      @{
                        var cols = item.Results.FirstOrDefault()?.Keys ?? Enumerable.Empty<string>();
                        foreach (var col in cols)
                        {
                          <MudTd DataLabel="@col">@context[col].ToString()</MudTd>
                        }
                      }
                    </RowTemplate>
                  </MudTable>
                </MudTabPanel>
                <MudTabPanel Text="Text">
                  <MudTextField @bind-Value="@item.ResultsJson" Lines="20"/>
                </MudTabPanel>
                <MudTabPanel Text="Parameters">
                  <MudTextField @bind-Value="@item.Parameters" Lines="10"/>
                </MudTabPanel>
              </MudTabs>
            </MudStack>
          </ChildContent>
        </MudTabPanel>
      }
    </MudDynamicTabs>
  </MudItem>
</MudGrid>
