@page "/"

@using BlazorMonaco

<style>
  .monaco-editor-container 
  { 
    min-height: 300px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
  }
</style>

<PageTitle>LiteDB Studio (WebAssembly version)</PageTitle>

<MudPaper Elevation="25">
  <MudToolBar>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.OpenInBrowser" OnClick="@(async () => await OpenAndReadFile())">Open...</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh">Refresh</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.DirectionsRun" OnClick="@OnRun">Run</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Start">Begin</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.SaveAlt">Commit</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Undo">Rollback</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.SafetyCheck">Checkpoint</MudButton>
  </MudToolBar>
</MudPaper>

<div class="form-group-sm">
  <label class="control-label">Info</label>
  <textarea rows="10" value="@_info" class="form-control"></textarea>
</div>

<MudGrid>
  <MudItem xs="2">
    <MudTreeView T="string" Items="_items">
      <MudTreeViewItem T="string" Text="@_fileName">
        @foreach (var item in _items)
        {
          <MudTreeViewItem T="string" Text="@item"/>
        }
      </MudTreeViewItem>
    </MudTreeView>
  </MudItem>

  <MudItem xs="10">
    <MudDynamicTabs
      Elevation="4"
      Rounded="true"
      ApplyEffectsToContainer="true"
      PanelClass="px-4 py-6"
      AddTab="AddTabCallback"
      CloseTab="@(panel => CloseTabCallback(panel))"
      AddIconToolTip="Click here to add a new tab"
      CloseIconToolTip="Close this tab. All data will be lost"
      @bind-ActivePanelIndex="_activeTabIndex">
      @foreach (var item in _tabs)
      {
        <MudTabPanel Text="@item.Name" Tag="@item.Id">
          <ChildContent>
            <MudStack>
              <MonacoEditor
                @ref="@item.Query"
                Id="@item.Id.ToString()"
                ConstructionOptions="SQL_EditorOptions"/>
              <MudTable Items="@item.Results" Breakpoint="Breakpoint.Sm">
                <HeaderContent>
                  @{
                    var cols = item.Results.FirstOrDefault()?.Keys ?? Enumerable.Empty<string>();
                    foreach (var col in cols)
                    {
                      <MudTh>@col</MudTh>
                    }
                  }
                </HeaderContent>
                <RowTemplate>
                  @{
                    var cols = item.Results.FirstOrDefault()?.Keys ?? Enumerable.Empty<string>();
                    foreach (var col in cols)
                    {
                      <MudTd DataLabel="@col">@context[col].ToString()</MudTd>
                    }
                  }
                </RowTemplate>
              </MudTable>
            </MudStack>
          </ChildContent>
        </MudTabPanel>
      }
    </MudDynamicTabs>
  </MudItem>
</MudGrid>
